@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #059669;
  --sub-color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main-color);
  --color-sub: var(--sub-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
